<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='Добавление СИЗ')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Добавление СИЗ</h1>
            <form th:action="@{/workers/{id}/add(id=${worker.id})}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Ipm name" id="name" name="name" type="text" class="validate" required>
                        <label for="name">Ipm name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="manufacturer" name="manufacturer" class="materialize-textarea"
                                  required></textarea>
                        <label for="manufacturer">Ipm manufacturer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="serialNumber" name="serialNumber" class="materialize-textarea"
                                  required></textarea>
                        <label for="serialNumber">Ipm serialNumber</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="releaseDate" name="releaseDate" class="materialize-textarea" required></textarea>
                        <label for="releaseDate">Ipm releaseDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="inServiceDate" name="inServiceDate" class="materialize-textarea"
                                  required></textarea>
                        <label for="inServiceDate">Ipm inServiceDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="expirationDate" name="expirationDate" class="materialize-textarea"
                                  required></textarea>
                        <label for="expirationDate">Ipm expirationDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="nextPeriodicInspectionDate" name="nextPeriodicInspectionDate"
                                  class="materialize-textarea" required></textarea>
                        <label for="nextPeriodicInspectionDate">Ipm nextPeriodicInspectionDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="usage" name="usage" class="materialize-textarea" required></textarea>
                        <label for="usage">Ipm usage</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">добавить</button>
            </form>
            <div class="row">
                <br>
                <div class="col s12">
                    <a th:href="@{/workers/{id}(id=${worker.id})}">
                        <button class="waves-effect waves-light btn" type="submit">назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>

</body>
</html>