<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title=${ipm.name})"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="right" th:include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Наименование</span>
                    <p th:text="${ipm.name}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Производитель</span>
                    <p th:text="${ipm.manufacturer}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Серийный номер</span>
                    <p th:text="${ipm.serialNumber}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Дата выпуска</span>
                    <p th:text="${ipm.releaseDate}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Дата ввода в эксплуатацию</span>
                    <p th:text="${ipm.inServiceDate}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Дата выхода срока эксплуатации</span>
                    <p th:text="${ipm.expirationDate}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Дата следующего периодического осмотра</span>
                    <p th:text="${ipm.nextPeriodicInspectionDate}"></p>
                </div>
                <div class="card-content">
                    <span class="card-title">Использование</span>
                    <p th:text="${ipm.usage}"></p>
                </div>
            </div>
            <div class="card-action">
                <form th:action="@{/workers/{id}/{ipmId}/remove (id=${workerId},ipmId=${ipmId})}"
                      th:if="${account.hasAuthority('REMOVE')}" method="post">
                    <button class="waves-effect waves-light btn" type="submit">удалить</button>
                </form>
            </div>
            <div class="row">
                <br>
                <div class="col s12">
                    <a th:href="@{/workers/{id} (id=${workerId})}">
                        <button class="waves-effect waves-light btn" type="submit">назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>

</body>
</html>