<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='Add worker')"></head>
<body>
<div class="container">
    <div class="row">
        <col class="s12">
        <h1>Add worker</h1>
        <form th:action="@{/workers/add}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Worker name" id="name" name="name" type="text" class="validate" required>
                    <label for="name">Worker name</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit">добавить</button>
        </form>
        <div class="row">
            <br>
            <div class="col s12">
                <a th:href="@{/workers}">
                    <button class="waves-effect waves-light btn" type="submit">назад</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>

</body>
</html>