<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='Список сотрудников')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="right" th:include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <col class="s12">
        <h1>Список сотрудников</h1>
        <ul class="collection">
            <li class="collection-item" th:each="worker: ${workers}">
                <a th:href="@{/workers/{id}(id=${worker.id})}">
                    <span th:text="${worker.name}"></span>
                </a>
            </li>
        </ul>
        <a th:if="${account.hasAuthority('EDIT')}" th:href="@{/workers/add}" class="waves-effect waves-light btn">новый сотрудник</a>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>

</body>
</html>