<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='СИЗ на сотруднике')"></head>
<body th:inline="text">
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="right" th:include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>[[${workerName}]]- список СИЗ</h1>
            <ul class="collection">
                <li class="collection-item" th:each="ipm: ${ipmByWorkerId}">
                    <a th:href="@{/workers/{id}/{ipmId}(id=${workerId},ipmId=${ipm.id}) }">
                        <span th:text="${ipm.name}"></span>
                        <span th:text="${ipm.manufacturer}"></span>
                    </a>
                </li>
            </ul>
            <a th:if="${account.hasAuthority('EDIT')}" th:href="@{/workers/{id}/add(id=${workerId})}"
               class="waves-effect waves-light btn">добавить СИЗ</a>
            <div class="card-action">
                <br>
                <form th:action="@{/workers/{id}/remove (id=${workerId}) }" th:if="${account.hasAuthority('REMOVE')}"
                      method="post">
                    <button class="waves-effect waves-light btn" type="submit">удалить сотрудника</button>
                </form>
            </div>
            <div class="row">
                <br>
                <div class="col s12">
                    <a th:href="@{/workers}">
                        <button class="waves-effect waves-light btn" type="submit">назад</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/layout :: scriptsFragment" th:remove="tag"></div>

</body>
</html>